$main_font: 'noto_sansregular';
$main_color: #163A24;
$main_fonts: 'Recoleta';
$myWidth: 1180px;
$myFontSize: 48px;
$font_size: 18px;
$main_display: flex;
$myFontStyle: normal;
@mixin desk{
  color: #FBFAF7;
  text-align: center;
  font-family: $main_font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
@mixin content{
display: flex;
  margin: auto;
}





@font-face {
  font-family: 'noto_sansregular';
  src: url('../fonts/notosans-regular-webfont.eot');
  src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
  url('../fonts/notosans-regular-webfont.woff') format('woff'),
  url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
  url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-SemiBold.eot');
  src: local('Recoleta SemiBold'), local('Recoleta-SemiBold'),
  url('../fonts/Recoleta-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Recoleta-SemiBold.woff') format('woff'),
  url('../fonts/Recoleta-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
}
body{
  background: $main_color;
}
main{
  background: white;
}
header{
  padding: 20px 0;
  background: $main_color;

}
.container{
@include content;
  max-width: $myWidth;
  justify-content: space-between;
}
.logo{
  width: 153px;
  height: 58px;
  background-repeat: no-repeat;
  float: left;
}
.container nav ul{
  padding-top: 21px;
  padding-bottom: 15.5px;
  padding-left: 24px;
  padding-right: 24px;
  li{
    display: inline;
    a{
      text-decoration: none;
      color: #FBFAF7;
      text-align: right;
      font-family: $main_font;
      font-size: 16px;
      font-style: $myFontStyle;
      font-weight: 400;
      line-height: normal;
      margin-left: 24px;
  }
}
}
.started{
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 160px;
  background: #198C36;
  padding-left: 15px;
  padding-right: 15px;
}
.section{
  background-color: $main_color;
  background-image: url(../img/pic.png);
  background-repeat: no-repeat;
  background-position: 70% 30%;
  padding-top: 120px;
  padding-bottom: 129px;
}

.wrapper{
@include content;
  max-width: $myWidth;
}

.title{
  color: #FBFAF7;
  font-family: $main_fonts;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 65.25px;
  margin-bottom: $font_size;
  width: 392px;
}
.title_p{
  color: #FBFAF7;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
  width: 475px;
}
.we_partner{
  padding-top: 136px;
  padding-bottom: 121px;
}
.we_partner2{
  max-width: $myWidth;
  margin: auto;
}
.partner{
  color: $main_color;
  text-align: center;
  font-family: $main_fonts;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 67px;
}
.link{
  display: $main_display;
  justify-content: center;
}
.stripe{
  width: 110px;
  height: 51px;
  padding-left: 44px;
}
.google{
  width: 110px;
  height: 36px;
  margin-left:  86px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.notion{
  width: 110px;
  height: 59px;
  margin-left:  86px;
}
.gusto{
  width: 110px;
  height: 45px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left:  86px;
}
.aircall{
  width: 110px;
  height: 37px;
  margin-left:  86px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.HR{
  padding-top: 66px;
  padding-bottom: 120px;
  background: $main_color;

}
.qualit{
  font-family: $main_fonts;
  color: #FBFAF7;
  text-align: center;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
}
.owl-carousel{
  @include content;
  padding-top: 69px;
}
.owl-carousel.owl-loaded{
  display: inline-block;
  width: auto;
}
.educates{
  width: 117px;
  height: 145px;
  margin-bottom: 28px;
}
.text{
  padding-left: 15px;
  @include desk;
}
.protects{
  width: 79px;
  height: 160px;
  margin-bottom: 28px;
}
.texts{
  padding-left: 15px;
  @include desk;
}
.manages{
  width: 66px;
  height: 145px;
  margin-bottom: 28px;

}
.text3{
  @include desk;
  padding-left: 15px;
}
.create{
  width: 95px;
  height: 150px;
  margin-bottom: 28px;
}
.text4{
  @include desk;
  margin-left: -28px;
}
.Employees{
  padding-top: 120px;
  padding-bottom: 120px;
  background: #F2EFE6;
  text-align: center;
}
.Employees2{
  max-width: 1440px;
  margin: auto;
}
.Employees_come{
  color: $main_color;
  text-align: center;
  font-family: $main_fonts;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 27px;
}
.focus{
  color: $main_color;
  text-align: center;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 2px;
}
.Put{
  padding-top: 120px;
}
.human{
  max-width: $myWidth;
  @include content;
  justify-content: space-between;
  align-items: center;
}
.gruppa1{
  padding-left: 98px;
  padding-right: 98px;
}
.put_the{
  color: $main_color;
  font-family: $main_fonts;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 27px;
}
.stars{
  color: $main_color;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
}
.women{
  width: 492px;
  height: 510px;
  padding-left: 98px;
}
.parts{
  max-width: $myWidth;
  @include content;
  justify-content: space-between;
  align-items: center;
}
.gruppa2{
  padding-left: 98px;
  padding-right: 98px;
}
.you{
  color: $main_color;
  font-family: $main_fonts;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 27px;
}
.accounting{
  color: $main_color;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
}
.man{
  width: 492px;
  height: 423px;
  padding-right: 98px;
}
.togethe{
  padding-top: 180px;
  padding-bottom: 120px;
  max-width: $myWidth;
  @include content;
  justify-content: space-between;
  align-items: center;
}
.gruppa3{
  padding-left: 98px;
  padding-right: 98px;
}
.scenes{
  color: $main_color;
  font-family: $main_fonts;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 27px;
}
.Development{
  color: $main_color;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
}
.father{
  width: 492px;
  height: 423px;
  padding-right: 98px;
}
.consider{
  max-width: $myWidth;
  margin: auto;
  padding-bottom: 18px;

}
.tema1{
  color: $main_color;
  text-align: center;
  font-family: $main_fonts;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 27px;
}
.tema2{
  color: $main_color;
  text-align: center;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
}
.pic{
  max-width: 1140px;
  @include content;
  margin-bottom: 120px;
}
.protect{
  border-radius: 15px;
  background: #FBFAF7;
  box-shadow: 5px 5px 20px 0px #E9E4D5;
  padding-top: 50px;
  padding-bottom:66px ;
  width: 353px;
  margin-left: 20px;
  margin-bottom: 37px;

}
.icon-refresh{
  position: relative;
  display: inline-block;
  background-image: url(../img/icon1.svg);
  margin-left: 40px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 62px;
  height: 75px;
}
.caption{
  color: $main_color;
  font-family: $main_fonts;
  font-size: 28px;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 31.5px;
  margin-bottom: 23px;
  padding-left: 40px;
}
.list li{
  color: $main_color;
  font-family: $main_font;
  font-size: 16px;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: normal;
  &:before{
    content: url("../img/Ellipse 1.svg");
    fill: $main_color;
    width: 8px;
    height: 8px;
    margin-right: 11px;
    padding-left: 40px;
  }
}
.success{
  border-radius: 15px;
  background: #FBFAF7;
  box-shadow: 5px 5px 20px 0px #E9E4D5;
  padding-top: 50px;
  padding-bottom:66px ;
  width: 353px;
  margin-left: 40px;
}
.icon1{
  position: relative;
  display: inline-block;
  background-image: url(../img/iconstars.svg);
  margin-left: 40px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 83px;
  height: 75px;
}
.caption2{
  color: $main_color;
  font-family: $main_fonts;
  font-size: 28px;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 31.5px;
  margin-bottom: 23px;
  padding-left: 40px;
}
.list2 li{
  color: $main_color;
  font-family: $main_font;
  font-size: 16px;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: normal;
  &:before{
    content: url("../img/Ellipse 1.svg");
    fill: $main_color;
    width: 8px;
    height: 8px;
    margin-right: 11px;
    padding-left: 40px;
  }
}
.landscape{
  border-radius: 15px;
  background: #FBFAF7;
  box-shadow: 5px 5px 20px 0px #E9E4D5;
  padding-top: 50px;
  padding-bottom:66px ;
  width: 353px;
  margin-left: 40px;
  margin-bottom: 37px;
}
.icon2{
  position: relative;
  display: inline-block;
  background-image: url(../img/lupa.svg);
  margin-left: 40px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 82px;
  height: 75px;
}
.caption3 {
  color: $main_color;
  font-family: $main_fonts;
  font-size: 28px;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 31.5px;
  margin-bottom: 23px;
  padding-left: 40px;
}
.list3 li{
  color: $main_color;
  font-family: $main_font;
  font-size: 16px;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: normal;
  &:before{
    content: url("../img/Ellipse 1.svg");
    fill: $main_color;
    width: 8px;
    height: 8px;
    margin-right: 11px;
    padding-left: 40px;
  }
}
.sect{
  background: #F2EFE6;
  padding-top: 114px;
  padding-bottom: 124px;
}
.sectoin9{

  max-width: $myWidth;
  margin: auto;

}
.ggg{
  max-width: $myWidth;
  @include content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;

}
.strelka1{
  width: 262.203px;
  height: 100px;
  position: relative;

}
.subtittle{
  color: $main_color;
  text-align: center;
  font-family: $main_fonts;
  font-size: 47px;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 26px;
}
.Clerksy{
  color: $main_color;
  text-align: center;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 60px;
}
.paragraf{
  color: $main_color;
  text-align: center;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 13px;
}
.time{
  color: $main_color;
  text-align: center;
  font-family: $main_fonts;
  font-size: 28px;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 31.5px;
}

.strelka1::before{
  position: absolute;
  content: url("../img/strelk1.svg");
  width: 75px;
  height: 36px;
  right: -110px;
  top: 20px;

}
.strelka2{
  width: 262px;
  position: relative;

}
.strelka2::before{
  position: absolute;
  content: url("../img/strelk2.svg");
  right: -110px;
  top: 20px;
}
.many{
  background-image: url(../img/Vector2.svg);
  background-repeat: no-repeat;
  padding-top: 30px;
  width: 290px;
  height: 183px;
  box-sizing: border-box;
}
.button{
  border-radius: 160px;
  background: #198C36;
  color: #FBFAF7;
  text-align: center;
  font-family: $main_font;
  font-size: 16px;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: normal;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  margin: auto;
  display: block;
  width: 244px;
  text-decoration: none;
}
.book{
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: $myWidth;
  @include content;
  justify-content: space-between;
  align-items: center;
}
.another{
  color: $main_color;
  font-family: $main_fonts;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 25px;
}
.simple{
  color: $main_color;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 19px;
}
.download{
  border-radius: 160px;
  background: #198C36;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color: #FBFAF7;
  font-family: $main_font;
  font-size: 16px;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: normal;
  width: 191px;
  text-align: center;
  text-decoration: none;
}
.books{
  margin-left: 184px;
  background-image: url(../img/Vector.svg);
  width: 490.042px;
  height: 487.906px;
  fill: #F7BC28;
  width: 311.968px;
  height: 411.96px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  padding-top: 33px;
  padding-left: 83px;
  padding-right: 93px ;
  padding-bottom: 43px;
}
.sect_end{
  background-image: url(../img/leftpic.svg), url(../img/rightpic.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left,right;
  background-color: $main_color;
}
.end{
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: $myWidth;
  margin: auto;
}
.get_started{
  color: #FBFAF7;
  text-align: center;
  font-family: $main_fonts;
  font-size: $myFontSize;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 26px;
}
.make{
  color: #FBFAF7;
  text-align: center;
  font-family: $main_font;
  font-size: $font_size;
  font-style: $myFontStyle;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 18px;
}
.Discovery{
  border-radius: 160px;
  background: #FAB5A0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  color: $main_color;
  text-align: center;
  font-family: $main_font;
  font-size: 16px;
  font-style: $myFontStyle;
  font-weight: 600;
  line-height: normal;
  width: 258px;
  right: 46%;
  text-decoration: none;
  margin: auto;
  display: block;
}
.cd-3d-nav-trigger{
  display: none;
}
.footer1{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F2EFE6;
}
.holder{
  @include content;
  justify-content: space-between;
  max-width: $myWidth;
}
.stay_up{
  font-family: $main_fonts;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: $main_color;
  margin-bottom: 24px;
}
.desk{
  font-family: $main_font;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color:$main_color;
}
form{
  width: 553px;
  height: 54px;
  top: -0.2px;
  border-radius: 255px;
  border: 1px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-bottom: 11px;
}
input{
  position: absolute;
  left: 80%;
    border-radius: none;
    background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: right;
  width: 111px;
  height: 52px;
  border-radius: 160px;
  background: #15762E;
  border: none;
  text-align: center;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FBFAF7;

}
.by_submit{
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #163A24;
}
.policia{
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #198C36;
}
.footer2{
  padding-top: 44px;
  padding-bottom: 24px;
  background: #FFFFFF;
}
.company{
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: auto;
  margin-bottom: 19px;
}
.a_people{
  font-family: Recoleta;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #163A24;
}
.footer2 ul li{
  display: inline;
}
.footer2 ul li a{
  text-decoration: none;
  margin-left: 14px;
}

